<!-- Mission Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <h3 class="section-text text-muted">Our mission is to develop and support a vibrant <b>ecosystem</b> of robotics <b>capabilities</b> and applications. We plan to do this in two ways:</h3>
                <ol type="1">
                  <li class="section-list-text text-muted">It is our goal to organize a <b>self-sustaining</b> ecosystem through a community-focused mindset by advocating for open collaboration, providing abundant resources, and lowering the barrier of entry.</li>
                  <li class="section-list-text text-muted">We seek to partner with industry and academia to <b>create</b> high-quality robotics technologies and help organizations leverage the power of open tools for their applications.</li>
                </ol>

                <h2 class="section-vision">Our Vision</h2>
                <h3 class="section-text text-muted">Our vision is to create a dynamic ecosystem of robotics capabilities and resources to empower creators to shape the future through democratising access and open collaboration.</h3>
            </div>
        </div>
    </div>
</section>
