<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">We also offer services around robotics development and consulting. These activities typically orbit open-source projects, but Open Navigation is open to proprietary feature development to fuel our mission. We offer a discount to member companies and projects that may be made open-source.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">ROS Consulting and Development</h4>
                <p class="text-muted">ROS2 is the standard for robotics development and we're some of the leading experts on it. ROS can be <b>hard</b> and we understand. We offer consulting services make it easier. Whether you need a ROS-based system developed, move your codebase to ROS, or convert your ROS system to ROS2, we have you covered.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i> <!-- code -->
                </span>
                <h4 class="service-heading">Robotics Research & Development</h4>
                <p class="text-muted">We conduct R&D tasks for organizations in need of seasoned roboticists and engineers. Our team is comprised of creators and maintainers of widely used robot navigation software. We are also uniquely suited to set up or make your <!--application specific -->enhancements to projects such as Navigation, RViz, Gazebo, MoveIt, and more.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Education and Setup</h4>
                <p class="text-muted">Open Navigation is a leader in open-source robotics technologies. We offer programs to get your team up and running quickly. We conduct seminars, create on-boarding programs and interactive tutorials, and help set up your team for success.</p>
            </div>
        </div>
    </div>
</section>
